<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
    <title th:remove="all">Sincronizacao de Cargas Virais</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p >
    Caros,
</p>
<p>
    Encontrem em anexo o relatorio de sincronizacao de Cargas virais de
    <b th:text="${fromDate}"></b> a <b th:text="${toDate}"></b>
</p>


</p>
<p>
    Cumprimentos, <br />

</p>
</body>
</html>