<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title th:remove="all">Sincronização de Cargas Virais</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Caro,</p>
    <p>Encontre em anexo o relatório de sincronização, entre servidor de integração e SESP, de resultados laboratoriais
        de <b th:text="${fromDate}"></b> a <b th:text="${toDate}"></b>.</p>
    <p>Para qualquer questão/dúvida por favor contacte ao <a href="https://helpdeskmoz.sis.org.mz/portal/pt/signin">Helpdesk</a> (Tel 82/86/84 - 8604886).</p>
    <p>PS: Esta é uma notificação automática e NÃO deve responder à este email.</p>
</body>

</html>
